# Install libraries that are not pre-installed in Google Colab
!pip install spacy
!pip install beautifulsoup4
!pip install wordcloud
!pip install textblob


numpy==1.26.4
pandas==2.2.2
seaborn==0.13.1
matplotlib==3.7.1
nltk==3.8.1
scikit-learn==1.5.2
spacy==3.7.5
beautifulsoup4==4.12.3
wordcloud==1.9.3
textblob==0.17.1

